<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
</head>
<body>
    <%- include (`partials/nav`) %> 
    <h1>this is the user page</h1>
    <p>this is the page of user with id <%= id %> </p>

    <p><strong>Age: </strong> <%= data.age %></p>
    <p><strong>Job: </strong> <%= data.job %></p>

    <h2>hobbies</h2>
    <ul>
        <% data.hobbies.forEach((item)=>{ %>
            <li><%=item%></li>
        <% }) %>
    </ul>
</body>
</html>